[[chain]]
id = "testhub"
key_format = { type = "cosmos-json" }

## Signing Provider Configuration

### Fortanix DSM Signer Configuration
[[providers.fortanixdsm]]
api_endpoint = "https://sdkms.fortanix.com"
api_key = "ZDI5YmFjNTctZWZmNi00NWIxLWJiMDEtOTAyMGE1M2IwODFkOjdrb3BtNXlyVG92MVIxT0owYUFYaGFsSDFUX3pDTEdxUnQyLVVSV1JXZmQ1bUlXVUdlTmV3THRGU2dFbl9DOHZtX2tOOU1VTXJjejhNb2lhSnF6d2pB"
signing_keys = [
    { chain_ids = ["testhub"], type = "consensus", key_id = "6dd2760a-158e-48bc-8c5e-b2850b1d58de" }
]
plugin_id="81ce0bfb-3bd8-4214-bed6-b4257f2b9938"

## Validator Configuration

[[validator]]
chain_id = "testhub"
addr = "tcp://127.0.0.1:26690"
secret_key = "/home/secrets/kms-identity.key"
protocol_version = "v0.34"
reconnect = true
